.container {
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
}
.container.show {
  box-shadow: 0px 4px 15px rgba(0, 17, 51, 0.1);
  
}
.calendar {
  padding: 15px 45px 15px 45px;
}
.container.amp-plugin .calendars .calendar>.header .month-name {
  text-transform: capitalize;
  color: #112B42;

}
.calendar>.daynames-row>.dayname {
  font-size: 14px;
  font-weight: 700;
  color: #A2AAB0;

}
.calendar>.days-grid>.day:hover {
  border: 1px solid #0D7BDD;
  border-radius: 50px;
  color: #0D7BDD;
}
.calendar>.days-grid>.day {
  min-height: 40px;
  min-width: 40px;
  font-size: 16px;
}
.container.range-plugin .calendar>.days-grid>.day.start {
  border-bottom-right-radius: none; 
  border-top-right-radius: none;
  border-radius: 50px;
  background-color: #0D7BDD;
}

.container.range-plugin .calendar>.days-grid>.day.start.end {
  border-radius: 50px;
  background-color: #0D7BDD;
}
.container.range-plugin .calendar>.days-grid>.day.end.flipped {
  border-radius: 50px;
}

.container.range-plugin .calendar>.days-grid>.day.end {
  border-bottom-right-radius: none; 
  border-top-right-radius: none;
  border-radius: 50px;
}
.container.range-plugin .calendar>.days-grid>.day.end:after {
  border: none;
}
.container.range-plugin .calendar>.days-grid>.day.start:after {
  border: none;
}
.container.range-plugin .calendar>.days-grid>.day.start.flipped {
  border-radius: 50px;
}
.container.range-plugin .calendar>.days-grid>.day.in-range {
  background: #EFF7FF;
}
.container.range-plugin .calendar>.days-grid>.day.end {
  background-color: #0D7BDD;
}

